*.iml
*DS_Store
target/
lib_managed/
project/boot/
project/*.iml
project/plugins/lib_managed/
project/plugins/src_managed/
project/plugins/target/
.idea/
src/main/scala/tags
.ensime
ensime_port
.ensime.msg.counter
src/main/resources/static/css/ie.css
src/main/resources/static/css/print.css
src/main/resources/static/css/screen.css
.sass-cache
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

package-lock.json
dist
