body { width: 100%; height: 100%; }
#page { height: 100%; width: 800px; position: absolute; left: 50%; margin-left: -400px; }

#page-header {
  font-family: Arial, Helvetica, Geneva, sans-serif;
  font-size: 11px;
  height: 50px;
  position: absolute;
  top: 0;
  bottom: 50px;
  width: 800px;
}

#page-content {
  border: 1px solid black;
  position: absolute;
  top: 50px;
  left: 0;
  width: 800px;
  height: 400px;
  overflow: auto;
  -moz-border-radius: 0px 3px 3px 3px;
  border-radius: 0px 3px 3px 3px;
}

.tab-header {
  font-size: 12px;  
  position: absolute;
  top: 20px;
  font-weight: bold;
  background: white;
  height: 24px;
  border: 1px solid black;
  -moz-border-radius: 3px 3px 0px 0px;
  border-radius: 3px 3px 0px 0px;
  padding-left: 7px;
  padding-top: 5px;
  cursor: pointer;
}
.tab-header-insert { left: 0; width: 40px; }
.tab-header-history { left: 60px; width: 55px; }
.tab-header.selected { background: #BDBDBD; }

.hidden { display: none; }
.busy { background: url("ajax_indicator.gif") no-repeat scroll 0 0 transparent; width: 16px; height: 16px; }

form { -moz-border-radius: 3px; border-radius: 3px; }

#form-login { border: 1px solid black; padding: 5px 5px 5px 5px; margin: 10px 0 0 10px; width: 250px; overflow: auto; }
#form-login h3 { float: left; clear: both; margin-bottom: 5px; }
#form-login label { float: left; clear: left; width: 120px;}
#form-login input { float: left; clear: right; }
#form-login #submit { float: right; clear: both; }
#form-login .busy { float: right; margin-top: 3px; margin-right: 3px; }
#form-login #result { clear: both; color: red; padding-top: 5px; }

#tab-welcome { padding: 5px 5px 5px 5px; margin: 10px 0 0 10px; }

#form-insert { border: 1px solid black; padding: 5px 5px 5px 5px; margin: 10px 0 0 10px; width: 550px; overflow: auto; }
#form-insert a.calendarIcon { background: url("calendar.gif") no-repeat scroll 0 0 transparent; display: block; float: left; height: 16px; width: 16px; }
#form-insert #date { float: left; width: 120px;  }
#form-insert #time { float: left; width: 50px;  }
#form-insert label { float: left; width: 120px;  padding-top: 8px; clear: left; }
#form-insert #type { float: left; width: 150px; }
#form-insert #amount { float: left; width: 40px; }
#form-insert .unit { float: left; margin-top: 5px; }
#form-insert #submit { float: right; margin-top: 10px; width: 100px; clear: both; }
#form-insert .busy { float: right; margin-top: 15px; margin-right: 5px; }
#form-insert em { float: right;}
#form-insert .invalid { color: red; }
#form-insert .error { float:left; color: red; font-size: 0.8em; margin-top: 5px; margin-left: 5px; }
#form-insert #result { clear: left; color: green; padding-top: 15px; }

#tab-history table { margin: 10px; border: 1px solid black; width: 550px;   -moz-border-radius: 3px; border-radius: 3px;}
#tab-history table thead { background-color: #BDBDBD; border-bottom: 1px solid black;}
#tab-history table tbody { background-color: white; }
#tab-history .busy { margin-left: 10px;}

