#content { overflow: auto; border: none; padding: 0; margin: 0;}

.session { text-align: left; margin-bottom: 10px; }
.session .button { font-size: 0.8em; padding: 0.4em; width: 120px; }

.button { text-align: left; width: 200px; border: 0; font-size: 1em; padding: 0.8em !important; }
.button[disabled] { background-color: #c9c9c9; }
.button.fa:before {position: absolute; right: 0.75em; top: 50%; margin-top: -0.5em;}

.hidden { display: none; }
.busy { background: url("../img/ajax_indicator.gif") no-repeat scroll 0 0 transparent; width: 16px; height: 16px; }
.clear { background: url("../img/close.gif") no-repeat scroll 0 0 transparent; width: 14px; height: 14px; clear: none; cursor:pointer; }

#result { display: none; background: green; color: white; -moz-border-radius: 3px; border-radius: 3px; padding: 3px; font-size: 0.9em; }
#error { display: none; background: red; color: white; -moz-border-radius: 3px; border-radius: 3px; padding: 3px; margin: 10px 0 10px 0; font-size: 0.9em; }
.error { color: red; font-size: 0.8em; }
.invalid { border: 1px solid red; }

.servingstable { width: auto; }
.servingstable thead { border: 1px solid black; display: block; }
.servingstable tbody { max-height: 250px; border: 1px solid black; overflow-y: scroll; overflow-x: hidden; display: block; }
.servingstable tbody tr:nth-child(even) { background: #E6E6E6; }
.servingstable tbody tr:nth-child(odd) { background: #FFF; }
.servingstable input { height: 20px; margin: 0; }
.servingstable th { font-weight: bold; text-align: left; }
.servingstable th:first-child { padding-left: 5px; }
.servingstable td:first-child { padding-left: 5px; }
.servingstable th:last-child { padding-right: 5px; text-align: right; }
.servingstable td:last-child { padding-right: 5px; text-align: right; }
.servingstable .date { width: 150px; }
.servingstable .date input { width: 140px; }
.servingstable .amount { width: 75px; min-width: 25px; }
.servingstable .amount input { width: 65px; }
.servingstable .units { width: 73px; overflow: hidden; }
.servingstable .units input { width: 40px; }
.servingstable .servingType { width: 300px; }
.servingstable .servingType input { width: 290px; }
.servingstable .highlight { background: #81F781; -moz-border-radius: 3px; border-radius: 3px; }

#tab-login-content input { margin: 10px 0 10px 0; }
#tab-login-content #registration { clear: left; display: block; margin-top:10px; }
#tab-login-content .busy { margin-top: 12px; margin-left: 5px; }

#tab-welcome { padding: 5px 5px 5px 5px; margin: 10px 0 0 10px; }

.insert-form .insert-row { clear: left; vertical-align: middle; }
.insert-form .error { clear: left; display: block; margin-left: 70px; }
.insert-form label { display: inline-block; width: 70px; margin-bottom: 5px;}
.insert-form a.calendarIcon { height: 21px; width: 25px !important; }
.insert-form .dateElement { float: left; margin: 5px; width: 125px; display: inline-block; }
.insert-form .continuousCalendar .calendarScrollContent { width: 202px !important; }
.insert-form .continuousCalendar .calendarHeader { margin: 0 !important; }
.insert-form .continuousCalendar .calendarBody { margin: 0 !important; }
.insert-form .insert { min-height: 100px; overflow: auto; }
.insert-form #time { width: 70px; }
.insert-form #type { margin: 0; }
.insert-form .type .inputholder { position: relative; display: inline-block; }
.insert-form .type .inputholder .clear { position: absolute; top: 7px; right: 5px; }
.insert-form .type-suggestions-list { position: absolute; z-index: 10; width: 200px; height: 100px; overflow-x: scroll; background-color: white; opacity: 0.95; border: 1px solid black; }
.insert-form .type-suggestions-list li { clear: left; float: left; cursor: pointer; }
.insert-form .type-suggestions-list li:hover { background-color: #c9c9c9; border-radius: 3px; }
.insert-form #amount { width: 50px; }
.insert-form #units { width: 50px; }
.insert-form  .unit { margin-left: 5px; }


.active .interval { float: left; clear: both; overflow: auto; display: block;  }
.active .bac { font-weight: bold; }
.active .bac-units { font-weight: bold; }

#tab-history { position: relative; }
#tab-history #search { position: absolute; top: 8px; left: 10px; width: 100px; }
#tab-history .clear { position: absolute; top: 14px; left: 115px; }
#tab-history .busy { position: absolute; top: 4px; left: 140px; }
#tab-history #summary { position: absolute; left: 140px; }
#tab-history #result { position: absolute; left: 350px; }
#tab-history #error { position: absolute; left: 350px; }
#tab-history table { margin-top: 50px; float: left; clear: left; }

.userdata label { float: left; clear: left; margin-left: 5px; width: 150px; margin-top: 5px;}
.userdata span { float: left; }
.userdata em { float: left; }
.userdata input { float: left; clear: right;  width: 100px; margin-top: 5px; }
.userdata #weight { width: 35px; text-align: right; }
.userdata .weightTitle { padding-top: 7px;  padding-left: 5px; display: inline-block; }
.userdata .button { float: left; clear: left; }
.userdata .busy { float: left; margin-top: 7px; margin-left: 3px; }
.userdata #error { float:left; clear:left; }
.userdata #result { float:left; clear:left; }

.registration label[for="gender-male"], .userdata label[for="gender-female"] { clear: none; float: left; width: 50px; }
.registration input[type="radio"] { width: 10px; height: 10px; margin-top: 7px; }
.registration #back { clear: none; margin-left: 10px; }
