header { margin-bottom: 0.5em; }
.session { text-align: right; margin-bottom: 10px; }
.session span { margin-right: 10px; }

.button { text-align: left; width: 150px; border: 0; font-size: 1em; padding: 0.3em; }
.button[disabled] { background-color: #c9c9c9; }
.button.fa:before {position: absolute; right: 0.15em; top: 50%; margin-top: -0.5em;}

.hidden { display: none; }
.busy { background: url("../img/ajax_indicator.gif") no-repeat scroll 0 0 transparent; width: 16px; height: 16px; }
.clear { background: url("../img/close.gif") no-repeat scroll 0 0 transparent; width: 14px; height: 14px; clear: none; cursor:pointer; }
.shadow { -moz-box-shadow: 3px 3px 3px gray; -webkit-box-shadow: 3px 3px 3px gray;}
.gradient {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E6E6E6', endColorstr='white'); /* for IE */
  background: -webkit-gradient(linear, center top, center bottom, from(#E6E6E6), to(white)); /* for webkit browsers */
  background: -moz-linear-gradient(top, #E6E6E6,  white); /* for firefox 3.6+ */  
}

form, table { -moz-border-radius: 3px; border-radius: 3px; }
input {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E6E6E6', endColorstr='white'); /* for IE */
  background: -webkit-gradient(linear, center top, center bottom, from(#E6E6E6), to(white)); /* for webkit browsers */
  background: -moz-linear-gradient(top, #E6E6E6,  white); /* for firefox 3.6+ */
}

#result { display: none; background: green; color: white; float: left; -moz-border-radius: 3px; border-radius: 3px; padding: 3px; font-size: 0.9em; }
#error { display: none; background: red; color: white; float: left; -moz-border-radius: 3px; border-radius: 3px; padding: 3px; font-size: 0.9em; }
.error { color: red; font-size: 0.8em; }
.invalid { border: 1px solid red; }

.servingstable thead { border: 1px solid black; display: block; }
.servingstable tbody { max-height: 250px; border: 1px solid black; overflow-y: scroll; overflow-x: hidden; display: block; }
.servingstable tbody tr:nth-child(even) { background: #E6E6E6; }
.servingstable tbody tr:nth-child(odd) { background: #FFF; }
.servingstable input { height: 20px; margin: 0; }
.servingstable th { font-weight: bold; text-align: left; }
.servingstable th:first-child { padding-left: 5px; }
.servingstable td:first-child { padding-left: 5px; }
.servingstable th:last-child { padding-right: 5px; }
.servingstable td:last-child { padding-right: 5px; }
.servingstable .date { width: 150px; }
.servingstable .date input { width: 140px; }
.servingstable .amount { width: 75px; }
.servingstable .amount input { width: 65px; }
.servingstable .units { width: 73px; overflow: hidden; }
.servingstable .units input { width: 40px; }
.servingstable .servingType { width: 300px; }
.servingstable .servingType input { width: 290px; }
.servingstable .highlight { background: #81F781; -moz-border-radius: 3px; border-radius: 3px; }

#tab-login { margin: 10px 0 0 10px; }
#tab-login-content h3 { float: left; clear: both; margin: 5px; }
#tab-login-content label { float: left; clear: left; margin-left: 5px; width: 100px; margin-top: 5px;}
#tab-login-content input { float: left; clear: right;  width: 150px; margin-top: 5px; }
#tab-login-content button { float: left; clear: left; margin-top: 10px; }
#tab-login-content .busy { float: left; margin-top: 15px; margin-left: 5px; }
#tab-login-content #error { margin-top: 5px; }

#tab-welcome { padding: 5px 5px 5px 5px; margin: 10px 0 0 10px; }

.insert-form input { float: left; clear: left; }
.insert-form em { float: left; margin-left: 5px; }
.insert-form label { float: left; }
.insert-form a.calendarIcon { height: 25px; width: 25px !important; }
.insert-form .dateElement { float: left; margin: 5px; width: 115px; display: inline-block; }
.insert-form .continuousCalendar .calendarScrollContent { width: 202px !important; }
.insert-form .continuousCalendar .calendarHeader { margin: 0 !important; }
.insert-form .continuousCalendar .calendarBody { margin: 0 !important; }
.insert-form .insert { min-height: 100px; overflow: auto; }
.insert-form .datetime { width: 200px; float: left; margin-top: 10px; }
.insert-form label[for="time"] { width: 20px; margin: 7px 0 0 3px; }
.insert-form #time { width: 40px; margin: 7px 0 0 3px; float: none; }
.insert-form .type { float: left; clear: left; }
.insert-form .amount { float: left; clear: left; }
.insert-form .units { float: left; clear: left; }
.insert-form  #date { width: 120px; }
.insert-form  #type { width: 150px; }
.insert-form  #amount { width: 40px; }
.insert-form  #units { width: 40px; }
.insert-form  .unit { float: left; }
.insert-form .button { float: left; clear: left; margin-top: 10px; }
.insert-form .busy { float: left; }
.insert-form #result { float: left; clear: left; margin-top: 10px; }
.insert-form #error { float: left; clear: left; margin-top: 10px; }

#tab-active-content .interval { float: left; clear: both; overflow: auto; display: block;  }

#tab-history { position: relative; }
#tab-history #search { position: absolute; top: 0; left: 10px; width: 100px; }
#tab-history .clear { position: absolute; top: 5px; left: 115px; }
#tab-history .busy { position: absolute; top: 4px; left: 140px; }
#tab-history #summary { position: absolute; left: 140px; }
#tab-history #result { position: absolute; left: 350px; }
#tab-history #error { position: absolute; left: 350px; }
#tab-history table { margin-top: 30px; float: left; clear: left; }

#tab-userdata-content { background-color: white; border: 1px solid black; margin: 10px 0 0 10px; width: 550px; overflow: auto; -moz-border-radius: 3px; border-radius: 3px;}
#tab-userdata-content label { float: left; clear: left; margin-left: 5px; width: 150px; margin-top: 5px;}
#tab-userdata-content label[for="gender-male"], #tab-userdata-content label[for="gender-female"] { clear: none; float: left; width: 50px; }
#tab-userdata-content input[type="radio"] { width: 10px; margin-top: 7px; }
#tab-userdata-content #weight { width: 25px;}
#tab-userdata-content input { float: left; clear: right;  width: 100px; margin-top: 5px; }
#tab-userdata-content button { float: right; margin-top: 10px; width: 150px; }
#tab-userdata-content .busy { float: right; margin-top: 12px; margin-right: 5px; }
#tab-userdata-content .error { float:left; margin-top: 5px; margin-left: 5px; }
#tab-userdata-content #result { margin-top: 15px; }
#tab-userdata-content #error { margin-top: 15px; }
#tab-userdata .registerTitle { margin-left: 10px; }
#tab-userdata #back { width: 200px; float: left; clear: left; }

