#header-wrapper { background: #000; }

#header { min-height: 80px; }
#header h1 { color: white; font-size: 26px; margin-top: 25px; border-bottom: 1px solid white; width: 130px; }
#header ul { margin-top: 30px; }
#header ul li { color: white; font-size: 14px; cursor: pointer; display: inline-block; font-size: 18px; padding-right: 20px; text-transform: uppercase; }
#header ul li.selected { color: gray; }

.session { color: white;border: none; margin-top: 22px; padding: 3px; font-size: 0.9em;}
.session button { text-decoration: none; margin: 0; }
.session-busy { border: none; }

body { background: url("../img/background.png") repeat 0 0; }

.hidden { display: none; }
.busy, { background: url("../img/ajax_indicator.gif") no-repeat scroll 0 0 transparent; width: 16px; height: 16px; }
.clear { background: url("../img/close.gif") no-repeat scroll 0 0 transparent; width: 14px; height: 14px; clear: none; cursor:pointer; }
.shadow { -moz-box-shadow: 3px 3px 3px gray; -webkit-box-shadow: 3px 3px 3px gray;}
.gradient {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E6E6E6', endColorstr='white'); /* for IE */
  background: -webkit-gradient(linear, center top, center bottom, from(#E6E6E6), to(white)); /* for webkit browsers */
  background: -moz-linear-gradient(top, #E6E6E6,  white); /* for firefox 3.6+ */  
}

form, table { -moz-border-radius: 3px; border-radius: 3px; }
input {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E6E6E6', endColorstr='white'); /* for IE */
  background: -webkit-gradient(linear, center top, center bottom, from(#E6E6E6), to(white)); /* for webkit browsers */
  background: -moz-linear-gradient(top, #E6E6E6,  white); /* for firefox 3.6+ */
}
button {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E6E6E6', endColorstr='white'); /* for IE */
  background: -webkit-gradient(linear, center top, center bottom, from(#E6E6E6), to(white)); /* for webkit browsers */
  background: -moz-linear-gradient(top, #E6E6E6,  white); /* for firefox 3.6+ */
  margin: 5px;
  -moz-border-radius: 5px; border-radius: 5px;
}
button:focus { border: 2px solid black; }

#result { display: none; background: green; color: white; float: left; -moz-border-radius: 3px; border-radius: 3px; padding: 3px; font-size: 0.9em; }
#error { display: none; background: red; color: white; float: left; -moz-border-radius: 3px; border-radius: 3px; padding: 3px; font-size: 0.9em; }
.error { color: red; font-size: 0.8em; }
.invalid { border: 1px solid red; }

a.calendarIcon { background: url("../img/calendar.gif") no-repeat scroll 0 0 transparent; display: block; float: left; height: 16px; width: 16px; }
.dateElement { margin: 5px; }
.dateElement a { margin-top: 2px; }
.dateElement span.startDateLabel { margin-top: 4px; display: block; }

.servingstable { float: left; clear: left; margin: 10px; }
.servingstable thead { border: 1px solid black; display: block; padding: 5px; }
.servingstable tbody { max-height: 250px; border: 1px solid black; overflow-y: scroll; overflow-x: hidden; display: block; padding-left: 5px; padding-right: 5px;}
.servingstable tbody tr:nth-child(even) td {background: #E6E6E6}
.servingstable tbody tr:nth-child(odd) td {background: #FFF}
.servingstable input { height: 8px; margin: 0; }
.servingstable th { font-weight: bold; }
.servingstable .date { width: 150px; }
.servingstable .date input { width: 140px; }
.servingstable .amount { width: 75px; }
.servingstable .amount input { width: 65px; }
.servingstable .units { width: 50px; overflow: hidden; }
.servingstable .units input { width: 40px; }
.servingstable .servingType { width: 300px; }
.servingstable .servingType input { width: 290px; }
.servingstable .highlight { background: #81F781; -moz-border-radius: 3px; border-radius: 3px; }

#tab-login { margin: 10px 0 0 10px; }
#tab-login-content { background-color: white; border: 1px solid black; width: 280px; overflow: auto; -moz-border-radius: 3px; border-radius: 3px; }
#tab-login-content h3 { float: left; clear: both; margin: 5px; text-shadow: #E6E6E6 0px 1px 1px; }
#tab-login-content label { float: left; clear: left; margin-left: 5px; width: 100px; margin-top: 5px;}
#tab-login-content input { float: left; clear: right;  width: 150px; margin-top: 5px; }
#tab-login-content button { float: right; margin-right: 19px; width: 90px; }
#tab-login-content #register { float: left; width: 110px; }
#tab-login-content .busy { float: right; margin-top: 7px; }
#tab-login-content #error { margin-top: 5px; }

#tab-welcome { padding: 5px 5px 5px 5px; margin: 10px 0 0 10px; }

#tab-insert-content { border: 1px solid black; margin: 10px 0 0 10px; width: 650px; overflow: auto; -moz-border-radius: 3px; border-radius: 3px;}
#tab-insert-content .insert { min-height: 100px; overflow: auto; background-color: white; }
#tab-insert-content .datetime { width: 165px; float: left; margin-top: 10px; }
#tab-insert-content .type { width: 150px; float: left; margin-left: 5px; }
#tab-insert-content .insert .amount { width: 70px; float: left; margin-left: 10px; }
#tab-insert-content .insert .units { width: 70px; float: left; margin-left: 10px; }
#tab-insert-content label { font-size: 0.8em; float: left; }
#tab-insert-content label[for="time"] { width: 25px; margin: 4px 0 0 3px; }
#tab-insert-content label[for="type"] { width: 150px;}
#tab-insert-content label[for="amount"] { width: 150px;}
#tab-insert-content label[for="units"] { width: 100px;}
#tab-insert-content #date { width: 120px; }
#tab-insert-content #time { width: 40px; }
#tab-insert-content #type { width: 150px; }
#tab-insert-content #amount { width: 40px; }
#tab-insert-content #units { width: 40px; }
#tab-insert-content .unit { margin-top: 5px; margin-left: 2px; }
#tab-insert-content button { margin-top: 14px; width: 100px; float: right;}
#tab-insert-content .busy { margin-top: 16px; margin-left: 8px; float: left; }
#tab-insert-content #result { margin-bottom: 15px; }
#tab-insert-content #error { margin-bottom: 15px; }
#tab-insert-content .interval { float: left; clear: both; overflow: auto; display: block;  }

#tab-history { position: relative; }
#tab-history #search { position: absolute; top: 0; left: 10px; width: 100px; }
#tab-history .clear { position: absolute; top: 4px; left: 120px; }
#tab-history .busy { position: absolute; top: 4px; left: 140px; }
#tab-history #summary { position: absolute; top: 4px; left: 140px; }
#tab-history #result { margin-left: 10px; }
#tab-history #error { margin-left: 10px; }
#tab-history table { margin-top: 30px; }

#tab-userdata-content { background-color: white; border: 1px solid black; margin: 10px 0 0 10px; width: 550px; overflow: auto; -moz-border-radius: 3px; border-radius: 3px;}
#tab-userdata-content label { float: left; clear: left; margin-left: 5px; width: 150px; margin-top: 5px;}
#tab-userdata-content label[for="gender-male"], #tab-userdata-content label[for="gender-female"] { clear: none; float: left; width: 50px; }
#tab-userdata-content input[type="radio"] { width: 10px; margin-top: 7px; }
#tab-userdata-content #weight { width: 25px;}
#tab-userdata-content input { float: left; clear: right;  width: 100px; margin-top: 5px; }
#tab-userdata-content button { float: right; margin-top: 10px; width: 150px; }
#tab-userdata-content .busy { float: right; margin-top: 12px; margin-right: 5px; }
#tab-userdata-content .error { float:left; margin-top: 5px; margin-left: 5px; }
#tab-userdata-content #result { margin-top: 15px; }
#tab-userdata-content #error { margin-top: 15px; }
#tab-userdata .registerTitle { margin-left: 10px; }
#tab-userdata #back { width: 200px; float: left; clear: left; }

