.Footer {
  grid-area: footer;
}

.Footer footer {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 2fr 1fr;
}

.Footer .flag {
  border: none;
  cursor: pointer;
  background-color: unset;
}

.Footer .loggedIn {
  margin-right: 10px;
}
