.MenuItem {
  display: inline-grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
}
.MenuItem a {
  color: whitesmoke;
  width: 85%;
  text-decoration: none;
  font-weight: 200;
  background-color: darkslategray;
  border-radius: 3px;
  padding: 3px;
}

.MenuItem a:visited {
  color: whitesmoke;
}

.MenuItem a.active {
  color: whitesmoke;
  font-weight: 800;
}
