.MenuItem {
  display: inline-grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
}
.MenuItem a {
  color: white;
  width: 90px;
  font-family: 'Oleo Script', serif;
  text-decoration: none;
  font-weight: 200;
  background-color: green;
  border-radius: 3px;
  padding: 3px;
}

.MenuItem a:visited {
  color: white;
}
