.Menu {
  grid-area: menu;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
}

.Menu-header {
}

.Menu-header > nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.Menu-header .logo {
  display: grid;
  grid-template-columns: 1fr;
}

.Menu .logo h1 {
  color: #fff;
  border-radius: 6px;
  font-family: 'DkCrayonCrumble', serif;
  font-weight: 800;
  font-size: 200%;
  text-transform: uppercase;
  margin: 0;
}
