.MenuItem {
  display: inline-grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
}
.MenuItem a {
  color: whitesmoke;
  text-transform: uppercase;
  background-color: darkslategray;
  width: 60%;
  text-decoration: none;
  font-family: 'DkCrayonCrumble', sans-serif;
  font-weight: 400;
  font-size: 150%;
  border-radius: 3px;
  padding: 3px;
}

.MenuItem a:visited {
  color: whitesmoke;
}

.MenuItem a.active {
  color: whitesmoke;
  font-weight: 800;
}
