.Menu {
  grid-area: menu;
}

.Menu-header {
}

.Menu-header > nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.Menu-header .logo {
  display: grid;
  grid-template-columns: 1fr;
}

.Menu-header .logo  h1 {
  color: #fff;
  border-radius: 6px;
  font-family: 'DkCrayonCrumble', serif;
  font-weight: 800;
  font-size: 200%;
  margin-left: 10%;
  margin-right: 10%;
  text-transform: uppercase;
}
