.App {
  text-align: center;
  background-color: #282c34;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 10fr;
  align-items: center;
}

@media (prefers-reduced-motion: no-preference) {

}
